@{
    ViewBag.Title = "Home Page";
}

<!-- Header -->

<div class="" id="home" >
    <!-- Top-Bar -->
    
    <!-- //Top-Bar -->
    <!-- Slider -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel" >
        <!-- Indicators -->
        <ol id="carouselItems" class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div id="innerCarousel" class="carousel-inner">

            <div class="item active">
                <img src="~/images/slide1.jpg" alt="Production">
                <div class="carousel-caption">
                    <h3>Stack Lamb</h3>
                    <p>ISO Certified. High Quality</p>
                </div>
            </div>

            <div class="item">
                <img src="~/images/slide2.jpg" alt="Performance" >
                <div class="carousel-caption">
                    <h3>Technology and Quality</h3>
                    <p>Our Values is High Quality, and Technology Made In Egypt</p>
                </div>
            </div>

            <div class="item">
                <img src="~/images/slide3.jpg" alt="Quality" >
                <div class="carousel-caption">
                    <h3>Enjoy Day light</h3>
                    <p>Strongest led lamb in Egypt</p>
                </div>
            </div>

            

        </div>

        <!-- Left and right controls -->
      
    </div>
    <!-- //Slider -->
</div>
<div class="" id="about"style="margin-top:70px;">
      <div class="container">
          <div class="row" style="text-align:center;margin:30px 0;">
              <img src="~/images/logo-icon.png" style="width:80px;" class="img-scale" />
              <h1>About Stack</h1>
          </div>
            <div class="row">
            <div class="col-md-6 col-sm-6 ">
                <img class="img-responsive" src="~/images/about.jpg" alt="Manufactory">
            </div>
            <div class="col-md-6 col-sm-6 about-grid about-info">
                <div class="box">
                    <h2 class="c-blue">Intro about Stack-Egypt </h2>
                    <h2>STACK Technologies- Egypt</h2>
                    <h3>LITTLE ABOUT US</h3>
                    <p class="about-p-1">
                        Stack-Egypt Company is considered The first Activity outside The Us for the American Company Stack-USA
                    </p>
                    <p class="about-p-2">
                        The company provides Computers and latest technologies as known about the American Standard with low price
                    </p>
                </div>

                <!-- Explore-Button -->
                <!-- <a class="scroll" href="#portfolio">EXPLORE</a> -->
                <!-- //Explore-Button -->

            </div>
        </div>
      </div>
      
    </div>
<div class="" id="services"style="margin-top:70px;">
<div class="container">

    <div class="row" style="text-align:center;margin:30px 0;">
        <img src="~/images/002-cogwheel.png" alt="Manufactory" class="img-scale" />
        <h1>SERVICES</h1>
        <p>We offer a diversity of services all in the field of electronics and lighting varies according to cutomer needs with an innovative smart approach</p>
    </div>
    <div class="row" id="servicesRows">
        <siv id="xmargin" class="col-md-2"></siv>

        @*<div class="col-md-4" style="margin-top:10px;">
            <div class="thumb">
                <img src="~/images/s01.png" alt="Manufactory"style="width:100%;">
                <div class="services-info">
                    <h4>LED Lighting</h4>

                </div>
                <div class="overlay-bottom">
                    <div class="text">
                        <h4>LED Lighting</h4>
                        <p>We can offer an efficient service of lighting using our led lamps with low power consumption and high endurance </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4" style="margin-top:10px;">
            <div class="thumb">
                <img src="~/images/s02.png" alt="Manufactory"style="width:100%;">
                <div class="services-info">
                    <h4>Computer Accessories</h4>

                </div>
                <div class="overlay-bottom">
                    <div class="text">
                        <h4>Computer Accessories</h4>
                        <p>We offer high standard caples, mice and keyboards with long life time and Royal materials</p>
                    </div>
                </div>
            </div>
        </div>*@
     

    </div>
    <div class="clearfix"></div>
</div>
      
    </div>



